/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */

/* Main Colors */
$bulung-green: #a2c629;
$ocean-blue: #040c2c;

/* Secondary Colors */
$dark-green: #045654;
$dark-gray: #8a8b8b;
$light-gray: #f0f0f1;
$white: #FFFFFF;

$black: #000000;


/* Components */
